* {
    box-sizing: border-box;
     
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.conteiner {
    max-width: 1200px;
    margin: auto;
}
.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 44px;
    margin-bottom: 40px;
}
.input {
background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 2px;
font-size: 16px;
line-height: 24px;
padding: 8px;
background-repeat: no-repeat;
background-position: left 11px center;
padding-left: 35px;
}
.input-adres {
flex: 0.8;
background-image: url(../img/home.svg);
}
.searc-input {
background-image: url(../img/poisc.svg);
width: 350px;
margin-left: auto;
}
.buttoms {
    display: flex;
    align-items: center;

}
.button-card-text{
    margin-right: 10px;
    font-size: 16px;
    line-height: 24px;
}
.button {
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button-primary {
    background: #1890FF;
    border: 1px solid #D9D9D9;
    color: #FFFFFF;
    margin-right: 10px;
    flex: none;
    order: 0;
    align-self: center;
}
.button-icon {
    margin-right: 6px;
    vertical-align: middle;
}
.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/promo-img.png) no-repeat top 5px right -80px / 700px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}
.promo-title {
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 46px;
color: #302C34;
}
.promo-text {
max-width: 538px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #302C34;
}
.section-header {
    display: flex;
    align-items: center;
    
    margin-bottom: 44px;
}
.section-title {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #000000;
margin: 0px;
margin-right: 30px;
}
.cards {
    display: flex;
    /*align-items:flex-start;*/
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 30%;
    text-decoration: none;
}
.card-img {
width: 384px;
height: 250px;
object-fit: cover;
}
.card-img-product{
    width: 384px;
   height: 213px;
    object-fit: cover;
}
.card-text {
    padding-top: 20px;
    /* padding-bottom: 33px;*/
    padding-left: 23px;
    padding-right: 23px;
}
.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
margin: 0px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #000000;
}
.card-title-reg{
    /*font-weight: 400;*/
    margin: 0px;
    font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 32px;
}
.card-tag {
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
color:#FFFFFF;
background: #262626;
border-radius: 2px;
padding: 1px 8px;
}
.card-info {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-bottom: 24px;*/
}
.card-buttons{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 33px;
}
.card-price-bold{
font-weight: bold;
font-size: 20px;
line-height: 32px;
/*margin-left: 20px;*/
}
.rating-star{
    margin-right: 7px;
}
.ingredients {
    font-size: 15px;
    line-height: 21px;
    color: #8C8C8C;
}
.categoria {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}
.rating {
margin-right: 25px;
color: #FFC107;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
}
.price, .categoria {
color: #8C8C8C;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
margin: 10px 0px;
}
.price{
    margin-right:10px;
}
.price:after {
content:'';
width: 5px;
height: 5px;
background-color: #8C8C8C;
display: inline-block;
vertical-align: middle;
border-radius: 50%;
margin-left: 10px;
}
.footer {
    padding: 60px 0px;
}
.footer-block {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}
.footer-link {
    display: inline-block;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}
.footer-link:not(:last-child){
margin-right: 15px;
}
.social-links {
    display: flex;
    align-content: center;
}
.social-link:not(:last-child){
    margin-right: 21px;
}

@media (max-width: 1366px) {
.conteiner {
    max-width: 960px;
}
.promo {
    background-size: 600px;
    background-position: top 60px right -230px;
}
.rating {
    margin-right: 15px;
}
.categoria, .price {
    font-size: 14px;
}
.card-img-product {
    width: 285px;
    height: 185px;
}
.ingredients {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 400px;
}
.card-title-reg{
    font-size: 17px;
}
}

@media (max-width: 1280px){
    .card-img-product {
        width: 285px;
        height: 185px;
    }
    .ingredients {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 400px;
    }
    .card-title-reg{
        font-size: 17px;
    }
}




@media (max-width: 992px){
    .conteiner {
        max-width: 750px;
    }
    .promo {
        padding: 50px;
        background-size: 520px;
        background-position: top 55px right -260px;
    }
    .promo-text{
        font-size: 16px;
        max-width: 400px;
    }
    .card {
        flex-basis: 49%;
    }
    .footer-link {
        font-size: 16px;
    }
    .card-img-product{
        width: 100%;
    }
}
@media (max-width: 768px){
    .conteiner {
        max-width: 550px;
    }
    .card-title{
        font-size: 17px;
    }
    .card-info{
        flex-wrap: wrap;
    }
    .card.rating {
        flex-basis: 100%
    }
    .promo{
        padding: 25px;
        background-size: 420px;
        background-position: top 10px right -260px;
    }
    .promo-text{
        font-size: 14px;
        max-width: 300px;
    }
    .promo-title{
        font-size: 24px;
        line-height: 1.4;
    }
    .header{
        flex-wrap: wrap;
    }
    .input-adres{
        order: 5;
        margin-top: 15px;
        flex: 1;
    }
    .card-title-reg{
        font-size: 15px;
    }

    .ingredients {
        font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 208px;
    }
    .card-img-product {
        width: 100%;
    }
}
@media (max-width: 600px){
    .conteiner {
        max-width: 550px;
    }
   .header{
       flex-wrap: wrap;
   }
   .promo  {
       background-image: none;
   }
   .input-adres{
    order: 5;
    margin-top: 15px;
    flex: 1;
}
.section-title{
    font-size: 30px;
}
.card{
    flex-basis: 100%;
}
.card-img {
    width: 100%;
}
.footer{
    padding: 30px;
}
.footer-block{
    align-items:flex-start;
}
.card-title-reg {
    font-size: 24px;
}
.ingredients {
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 450px;
}
}

@media (max-width: 414px) {
    .conteiner {
        max-width: 3800px;
    }
    .button{
        min-height: 40px;
    }
    .button-icon{
        margin: 0px;
    }
    .button-text{
        display: none;
    }
    .searc-input {
        width: 100%;
    }
    .section-title {
        font-size: 25px;
    }
    .section-header{
        flex-wrap: wrap;
    }
    .conteiner {
        max-width: 400px;
    }

    .footer-block{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .social-links {
        padding: 15px;
    }
    .footer{
        padding: 10px;
    }
    .footer-nav {
        margin-right: auto;
        margin-left: 0px;
        font-size: 0px;
    }
    .footer-link:not(:last-child){
        margin-right: 10px;
        }
        .footer-link {
            font-size: 14px;
        }
        .ingredients {
            font-size: 16px;
        }
        .card-title-reg {
            font-size: 20px;
        }
}

@media (max-width: 375px){
    .footer-link {
        font-size: 10px;
    }
    .footer-link:not(:last-child) {
        margin-right: 8px;
    }
    .footer-link {
        font-size: 15px;
    }
}
@media (max-width: 320px) {
    .footer-link {
        font-size: 12px;
    }
}

